div {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: flex-end;
    border-radius: 12px;
    padding: 5px 10px;
    background-size: cover;
    margin: 0 6px;
    opacity: 0.9;

    &:hover{
        opacity: 1;
        cursor: pointer;
    }

    h3{
        width: 200px;
        color: #fff;
        font-size: 1.2em;
        font-weight: 300;
        margin: 5px 10px
    }
    h4 {
        color: #fff;
        font-size: 0.9em;
        margin: 5px 10px
    }
}

.link{
    text-decoration: none;
    outline:none;
}