@import '/src/styles/variables.scss';

.login-form{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

section button{
    width: 100%;
    margin: 15px 0;
    padding: 5px 0;
    margin-left: auto;
    margin-right: auto;
    border-color: $border-color;
    border-width: 1px;
    border-radius: 5px;
    background-color: $arches-color;
    color: #fff;
    font-size: 1.1em;
    opacity: 0.9;
    outline:none;
    cursor: pointer;
    display: block;
}