@import '/src/styles/variables.scss';

.card-detail {
  border: 1px solid $border-color;
  border-radius: 12px;
  margin: 0 20px;
  overflow: hidden;
  img {
    width: 100%;
  }
  p {
    font-weight: 400;
    color: $hof-color;
    margin: 10px 15px;
  }
  button{
    width: 25%;
    margin: 15px 0;
    padding: 5px 0;
    margin-left: auto;
    margin-right: auto;
    border-color: $border-color;
    border-width: 1px;
    border-radius: 5px;
    background-color: $arches-color;
    color: #fff;
    font-size: 1.1em;
    opacity: 0.9;
    outline:none;
    cursor: pointer;
    display: block;
  }

  a {
    text-decoration: none;
    outline:none;
  }
}

